.container .row.create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 94vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .row.create .col-md-8 form {
  width: 460px;
}

.container .row.create .col-md-8 form .form-group input {
  width: 100%;
  height: 30px;
  padding: 0px 10px;
  font-size: 16px;
}

.container .row.create .col-md-8 form .form-group label {
  padding: 10px 0px;
}

.container .row.create .col-md-8 form .form-group small {
  padding-top: 5px;
  font-family: 'graduateregular';
  font-size: 10px;
}

.container .row.create .col-md-8 form .form-check label {
  padding: 10px 0px;
}

.container .row.create .col-md-8 form button {
  background: #fff;
  border: 1px solid #d8d6d6;
  padding: 10px 27px;
  cursor: pointer;
}

.left.space {
  width: 10vw;
  height: 96vh;
  float: left;
}

.container table {
  float: left;
  width: 90%;
  margin: 20px 0px 20px;
}

.container table tr td i {
  margin: 7px;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: none;
  top: 0;
  left: 0;
  z-index: 5;
}

.overlay .table.around {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay .table.around .form-edit {
  background: #fff;
  width: 500px;
  height: 280px;
  position: relative;
  padding: 20px 30px;
}

.overlay .table.around .form-edit i {
  position: absolute;
  right: 10px;
  top: 10px;
}

.overlay .table.around .form-edit form label {
  width: 88%;
  margin: 0 auto;
}

.overlay .table.around .form-edit form input {
  width: 88%;
  height: 25px;
  font-size: 15px;
  padding: 5px 0px;
  margin: 0 auto;
}

header.admin-heading {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

header.admin-heading .container.nav {
  background: #f6f6f6;
  border: 1px solid #d8d6d6;
}

header.admin-heading .container .menu.left {
  padding: 0px 20px;
}

header.admin-heading .container .menu.left a {
  display: block;
}

header.admin-heading .container .menu.right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.admin-heading .container .menu.right ul a {
  padding: 10px 20px;
}

aside {
  width: 10vw;
  height: 100vh;
  position: fixed;
}

aside nav {
  height: 100vh;
  background: #f6f6f6;
  border: 1px solid #d8d6d6;
}

aside ul {
  margin-top: 44px;
}

aside ul li {
  padding: 15px 20px;
  border-bottom: 1px solid #d8d6d6;
}

.container:before {
  display: none !important;
}

.container:after {
  display: none !important;
}

body {
  font-family: 'brandon_grotesquemedium';
}

h1,
h2,
h3,
label {
  font-family: 'brandon_grotesquemedium';
}

body,
ul {
  padding: 0px;
  margin: 0px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.container.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

li {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

label,
input,
small {
  display: block;
}

h2 {
  font-size: 34px;
}

label {
  font-size: 20px;
}

p {
  font-family: 'graduateregular';
}

