@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);aside.main-menu {
  position: absolute;
  height: 100vh;
  z-index: 5;
  width: 45px;
}

aside.main-menu nav {
  height: 100%;
}

aside.main-menu nav ul {
  height: 100%;
  -webkit-transition: all 300ms ease-in 500ms;
  transition: all 300ms ease-in 500ms;
  background-color: rgba(17, 17, 17, 0.8);
}

aside.main-menu nav ul li {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid transparent;
  position: relative;
}

aside.main-menu nav ul li a {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  line-height: 0px;
}

aside.main-menu nav ul li a span {
  display: block;
  color: #fff;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 10px;
  color: #fff;
  opacity: 0.3;
  font-family: 'graduateregular';
}

aside.main-menu nav ul li a span:hover {
  color: #fff;
  opacity: 1;
}

aside.main-menu nav ul li a .fa.fa-times {
  color: #fff;
}

aside.main-menu nav ul li.active:before {
  border-right: 2px solid #fff;
  height: 50%;
  position: absolute;
  content: "";
  right: 0;
  top: 0;
}

aside.main-menu nav ul li.active:after {
  border-right: 2px solid #fff;
  height: 50%;
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
}

aside.main-menu nav ul li.active a span {
  color: #fff;
  opacity: 1;
}

aside.main-menu nav ul.menu-pages li {
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#fullpage .section {
  height: 100vh;
  width: 100%;
}

#fullpage .section .overlay {
  background: rgba(35, 33, 33, 0.6);
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#fullpage .section .overlay .main-content {
  max-width: 768px;
}

#fullpage .section .overlay .main-content h1 {
  letter-spacing: 24px;
}

#fullpage .section .overlay .main-content h3 {
  margin-top: 10px;
  margin-bottom: 25px;
}

#fullpage .section.home {
  background: url(/images/one.jpg?ee11b73c79b5ed3754f3e935db65169b);
  background-size: cover;
}

#fullpage .section.about .intro {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(0, 0, 100px);
  transform: translate3d(0, 0, 100px);
}

#fullpage .section.about .intro .caption {
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  width: 100%;
}

#fullpage .section.about .intro .caption .description {
  color: #fff;
}

#fullpage .section.about .intro .button.choose {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  -ms-flex-item-align: center;
      align-self: center;
  background: transparent;
  border: 3px solid #fff;
  position: absolute;
  bottom: 100px;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  -webkit-transition: all 250ms ease-out 0s;
  transition: all 250ms ease-out 0s;
  left: 50%;
  cursor: pointer;
}

#fullpage .section.about .intro .button.choose span {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 8px;
  font-size: 16px;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
  transform: translate3d(-50%, -50%, 0) scale(1);
}

#fullpage .section.about .intro .button.choose:hover span {
  color: #000;
  z-index: 500;
}

#fullpage .section.about .intro .button.choose:hover::after {
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
  transform: translate3d(-50%, -50%, 0) scale(1);
  background: #fff;
  color: #000;
}

#fullpage .section.about .intro .button.choose:after {
  border-radius: 50%;
  -webkit-transition: all 250ms ease-out 0s;
  transition: all 250ms ease-out 0s;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(0.909);
  transform: translate3d(-50%, -50%, 0) scale(0.909);
  content: ' ';
  display: block;
  height: 110%;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 110%;
  z-index: 0;
  color: #000;
}

#fullpage .section.about .video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: -1;
  background: none;
}

#fullpage .section.about .video .video-article {
  width: 50%;
  height: 50vh;
  position: relative;
}

#fullpage .section.about .video .video-article .video.inside {
  height: 50vh;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  z-index: -1;
  position: absolute;
  top: 0;
}

#fullpage .section.about .video .video-article .video-container.initialized {
  -webkit-transition: all 2s, background 2s;
  transition: all 2s, background 2s;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#fullpage .section.about .video .video-article .video-container.initialized .video-content {
  display: none;
  padding: 0 15%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#fullpage .section.about .video .video-article .video-container.initialized .video-content h3 {
  margin-bottom: 10px;
}

#fullpage .section.about .video .video-article .video-container.initialized:hover {
  -webkit-transition: all 2s, background 2s;
  transition: all 2s, background 2s;
  background: rgba(0, 0, 0, 0.15);
}

#fullpage .section.about .video .video-article .video-container.initialized:hover .video-content {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#fullpage .section.portfolio {
  text-align: left;
}

#fullpage .section.portfolio aside {
  width: 45px;
  background: #000;
  height: 100vh;
  z-index: 500;
  position: fixed;
}

#fullpage .section.portfolio .pagination .disabled {
  position: absolute;
  background: #454343;
  height: 50px;
  width: 50px;
  left: 45px;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  top: 50%;
  z-index: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#fullpage .section.portfolio .pagination .disabled .fa {
  color: #fff;
}

#fullpage .section.portfolio li {
  position: absolute;
  background: #454343;
  height: 50px;
  width: 50px;
  right: 0;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  top: 50%;
  z-index: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#fullpage .section.portfolio li .fa {
  color: #fff;
}

#fullpage .section.portfolio .projects ul {
  height: 100vh;
  list-style-type: none;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 45px;
  width: 1000000px;
}

#fullpage .section.portfolio .projects ul li {
  height: 100vh;
  display: inline-block;
  position: relative;
  width: 33vw;
  float: left;
}

#fullpage .section.portfolio .projects ul li .block {
  height: 50vh;
}

#fullpage .section.portfolio .projects ul li .block.image {
  background: url(/images/one.jpg?ee11b73c79b5ed3754f3e935db65169b);
  background-size: cover;
  -o-object-fit: fill;
     object-fit: fill;
}

#fullpage .section.portfolio .projects ul li .block.content {
  text-align: center;
  background: #fff;
}

#fullpage .section.portfolio .projects ul li .block.content .single-project-block {
  position: relative;
  transform: translate3d(0, -50%, 0);
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

#fullpage .section.portfolio .projects ul li .block.content .single-project-block h3,
#fullpage .section.portfolio .projects ul li .block.content .single-project-block small {
  color: #000;
  display: block;
}

#fullpage .section.portfolio .projects ul li .block.content .single-project-block small {
  padding: 0 20px 30px;
  margin-bottom: 16px;
}

#fullpage .section.portfolio .projects ul li .block.content .single-project-block p {
  padding: 20px 30px;
}

#fullpage .section.portfolio .projects ul li .block.content .single-project-block .portfolio-button {
  height: 75px;
  width: 75px;
  display: block;
  -webkit-transform: translate3d(-50%, 0%, 0);
          transform: translate3d(-50%, 0%, 0);
  left: 50%;
  position: Relative;
  border: 2px solid black;
  border-radius: 50%;
}

#fullpage .section.portfolio .projects ul li .block.content .single-project-block .portfolio-button span {
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;
  color: #000;
  position: absolute;
  display: block;
}

#fullpage .section.portfolio .projects ul li .block.content .single-project-block .portfolio-button:hover span {
  color: #fff;
  z-index: 500;
}

#fullpage .section.portfolio .projects ul li .block.content .single-project-block .portfolio-button:hover::after {
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
  transform: translate3d(-50%, -50%, 0) scale(1);
  background: #000;
}

#fullpage .section.portfolio .projects ul li .block.content .single-project-block .portfolio-button:after {
  border-radius: 50%;
  -webkit-transition: all 250ms ease-out 0s;
  transition: all 250ms ease-out 0s;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(0.909);
  transform: translate3d(-50%, -50%, 0) scale(0.909);
  content: ' ';
  display: block;
  height: 110%;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 110%;
  z-index: 0;
  color: #fff;
}

#fullpage .section.portfolio .projects ul li#even .image {
  position: relative;
}

#fullpage .section.portfolio .projects ul li#even .image .triangle {
  position: absolute;
  bottom: -3px;
  left: 50%;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 50px solid #fff;
  -webkit-transform: translate3d(-50%, 0%, 0) scale(0.909);
  transform: translate3d(-50%, 0%, 0) scale(0.909);
}

#fullpage .section.portfolio .projects ul li#odd .image {
  position: relative;
}

#fullpage .section.portfolio .projects ul li#odd .image .triangle {
  position: absolute;
  top: -3px;
  left: 50%;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 50px solid #fff;
  -webkit-transform: translate3d(-50%, 0%, 0) scale(0.909);
  transform: translate3d(-50%, 0%, 0) scale(0.909);
}

#fullpage .section.contact {
  background: url(/images/one.jpg?ee11b73c79b5ed3754f3e935db65169b);
  background-size: cover;
  -o-object-fit: fill;
     object-fit: fill;
  z-index: -1;
}

#fullpage .section.contact #contact-section h3 {
  font-size: 20px;
}

#fullpage .section.contact #contact-section .email {
  color: #fff;
  font-size: 30px;
  letter-spacing: 10px;
  font-weight: 800;
  text-transform: uppercase;
}

#fullpage .section.contact #contact-section ul {
  margin-top: 90px;
}

#fullpage .section.contact #contact-section ul a {
  display: inline-block;
}

#fullpage .section.contact #contact-section ul a li {
  position: relative;
  height: 70px;
  border: 3px solid #fff;
  width: 70px;
  border-radius: 50%;
  margin: 0px 6px;
}

#fullpage .section.contact #contact-section ul a li:hover {
  border: 3px solid #000;
}

#fullpage .section.contact #contact-section ul a li:hover i {
  color: #fff;
  z-index: 5;
}

#fullpage .section.contact #contact-section ul a li i {
  color: #fff;
  font-size: 30px;
  position: absolute;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(0.909);
  transform: translate3d(-50%, -50%, 0) scale(0.909);
  top: 50%;
  left: 50%;
}

#fullpage .section.contact #contact-section ul a li:hover span {
  color: #000;
  z-index: 500;
}

#fullpage .section.contact #contact-section ul a li:hover::after {
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
  transform: translate3d(-50%, -50%, 0) scale(1);
  background: #000;
}

#fullpage .section.contact #contact-section ul a li:after {
  border-radius: 50%;
  -webkit-transition: all 250ms ease-out 0s;
  transition: all 250ms ease-out 0s;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(0.909);
  transform: translate3d(-50%, -50%, 0) scale(0.909);
  content: ' ';
  display: block;
  height: 110%;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 110%;
  z-index: 0;
  color: #fff;
}

#fullpage .section.contact #contact-section .copyright {
  position: absolute;
  bottom: 20px;
  color: #fff;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#fullpage .section.contact #contact-section .copyright .fa {
  margin-right: 7px;
}

section.section-pages {
  position: absolute;
  right: 0;
  min-height: 100vh;
  width: 50%;
  background: #fff;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  overflow-y: scroll;
}

section.section-pages .pages-aside {
  padding: 60px 100px 60px 80px;
}

section .full.single-pages {
  background: url(/images/one.jpg?ee11b73c79b5ed3754f3e935db65169b);
  background-size: cover;
  -o-object-fit: fill;
     object-fit: fill;
  height: 100vh;
  width: 100vw;
}

section .full.single-pages .info.block-pages {
  background: #fff;
  position: absolute;
  right: 0;
  height: 100vh;
  width: 45%;
  padding: 0px 0px 0px 87px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 16% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 16% 100%);
}

section .full.single-pages .info.block-pages .content.block-pages {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .full.single-pages .info.block-pages .content.block-pages span,
section .full.single-pages .info.block-pages .content.block-pages h3,
section .full.single-pages .info.block-pages .content.block-pages p,
section .full.single-pages .info.block-pages .content.block-pages small {
  color: #000;
  text-align: left;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-family: 'brandon_grotesquemedium';
  letter-spacing: 11px;
  margin: 0;
}

h1,
h2,
h3,
small {
  color: #fff;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
  line-height: 60px;
}

h2 {
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 20px;
}

h3 {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 30px;
}

small {
  font-family: 'graduateregular';
  letter-spacing: 4.6px;
  opacity: 0.6;
  font-style: italic;
  font-size: 11px;
}

a:hover {
  text-decoration: none;
}

.section {
  text-align: center;
}

