.container {
  .row{
    &.create{
      display: flex;
      height: 94vh;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .col-md-8 {
        form {
          width: 460px;
          .form-group{
            input{
              width:100%;
              height:30px;
              padding: 0px 10px;
              font-size: 16px;
            }
            label {
              padding: 10px 0px;
            }
            small {
              padding-top:5px;
              font-family: 'graduateregular';
              font-size:10px;
            }
          }
          .form-check {
            label {
              padding: 10px 0px;
            }
          }
          button {
            background: #fff;
            border: 1px solid #d8d6d6;
            padding: 10px 27px;
            cursor:pointer;
          }
        }
      }
    }
  }
}