header.admin-heading {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  .container {
    &.nav {
      background: #f6f6f6;
      border: 1px solid #d8d6d6;
    }
    .menu {
      &.left {
        padding: 0px 20px;
        a {
          display: block;
        }
      }
      &.right {
        ul {
          display: flex;
          align-items: center;
          a {
            padding: 10px 20px;
          }
        }
      }
    }
  }
}