aside {
  width: 10vw;
  height: 100vh;
  position: fixed;
  nav{
    height: 100vh;
    background:#f6f6f6;
    border:1px solid #d8d6d6;

  }
  ul{
    margin-top:44px;
    li{
      padding: 15px 20px;
      border-bottom: 1px solid #d8d6d6;
      h3{

      }
    }
  }
}