.left.space{
  width: 10vw;
  height: 96vh;
  float: left;
}
.container {
  table{
    float: left;
    width: 90%;
    margin:20px 0px 20px;
    tr{
      td{
        i{
          margin:7px;
        }
      }
    }
  }
}

.overlay {
  background: rgba(0,0,0,0.6);
  position:absolute;
  height:100vh;
  width:100vw;
  display:none;
  top:0;
  left:0;
  z-index: 5;
  .table.around {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .form-edit {
      background: #fff;
      width: 500px;
      height:280px;
      position:relative;
      padding: 20px 30px;
      i{
        position:absolute;
        right: 10px;
        top:10px;
      }
      form {
        label{
          width: 88%;
          margin:0 auto;
        }
        input{
          width: 88%;
          height: 25px;
          font-size: 15px;
          padding: 5px 0px;
          margin: 0 auto;

        }
      }
    }

  }
}

