#fullpage {
  .section {
    height: 100vh;
    width: 100%;
    .overlay {
      background: rgba(35, 33, 33, 0.6);
      height: 100vh;
      width: 100%;
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .main-content{
        max-width:768px;
        h1{
          letter-spacing:24px;
        }
        h3 {
          margin-top: 10px;
          margin-bottom: 25px;
        }
      }
    }
    &.home {
      background: url('../images/one.jpg');
      background-size: cover;
    }
    &.about {
      .intro{
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        -moz-transform: translate3d(0, 0, 100px);
        -ms-transform: translate3d(0, 0, 100px);
        -o-transform: translate3d(0, 0, 100px);
        -webkit-transform: translate3d(0, 0, 100px);
        transform: translate3d(0, 0, 100px);
        .caption{
          position: absolute;
          top: 50%;
          transform: translate3d(0, -50%, 0);
          width: 100%;
          .description{
            color:#fff;
          }
        }
        .button.choose {
          width: 160px;
          height: 160px;
          border-radius: 50%;
          align-self: center;
          background: transparent;
          border: 3px solid #fff;
          position: absolute;
          bottom: 100px;
          transform: translate3d(-50%, 0, 0);
          transition: all 250ms ease-out 0s;
          left: 50%;
          cursor: pointer;
          span{
            position: absolute;
            top: 50%;
            left: 50%;
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 8px;
            font-size: 16px;
            -moz-transform: translate3d(-50%, -50%, 0) scale(1);
            -ms-transform: translate3d(-50%, -50%, 0) scale(1);
            -o-transform: translate3d(-50%, -50%, 0) scale(1);
            -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
            transform: translate3d(-50%, -50%, 0) scale(1);
          }
          &:hover{
            span {
              color: #000;
              z-index: 500;
            }
            &::after {
              -moz-transform: translate3d(-50%, -50%, 0) scale(1);
              -ms-transform: translate3d(-50%, -50%, 0) scale(1);
              -o-transform: translate3d(-50%, -50%, 0) scale(1);
              -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
              transform: translate3d(-50%, -50%, 0) scale(1);
              background: #fff;
              color:#000;
            }
          }
          &:after {
              -moz-border-radius: 50%;
              border-radius: 50%;
              -moz-transition: all 250ms ease-out 0s;
              -webkit-transition: all 250ms ease-out 0s;
              -o-transition: all 250ms ease-out 0s;
              -ms-transition: all 250ms ease-out 0s;
              transition: all 250ms ease-out 0s;
              -moz-transform: translate3d(-50%, -50%, 0) scale(0.909);
              -ms-transform: translate3d(-50%, -50%, 0) scale(0.909);
              -o-transform: translate3d(-50%, -50%, 0) scale(0.909);
              -webkit-transform: translate3d(-50%, -50%, 0) scale(0.909);
              transform: translate3d(-50%, -50%, 0) scale(0.909);
              content: ' ';
              display: block;
              height: 110%;
              left: 50%;
              position: absolute;
              top: 50%;
              width: 110%;
              z-index: 0;
              color:#000;
          }
        }
      }
      .video {
        display: flex;
        position: relative;
        justify-content: flex-start;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        z-index: -1;
        background:none;
        .video-article {
          width: 50%;
          height: 50vh;
          position:relative;
          .video.inside {
            height: 50vh;
            width: 100%;
            object-fit: fill;
            z-index:-1;
            position:absolute;
            top:0;
          }
          .video-container.initialized {
            transition: all 2s, background 2s;
            background: rgba(0,0,0,.7);
            position:relative;
            height:100%;
            width:100%;
            top:0;
            display: flex;
            align-items: center;
            justify-content: center;
            .video-content {
              display:none;
              padding: 0 15%;
              transition: all.6s;
              h3{
                margin-bottom:10px;
              }
            }
            &:hover{
              transition: all 2s, background 2s;
              background: rgba(0,0,0,.15);
              .video-content{
                transform: scale(1.2);
                transition:all.6s;
              }
            }
          }
        }
      }
    }
    &.portfolio {
      text-align:left;
      aside {
        width: 45px;
        background: #000;
        height: 100vh;
        z-index: 500;
        position: fixed;
      }
      .pagination {
        .disabled {
          position: absolute;
          background: #454343;
          height: 50px;
          width: 50px;
          left: 45px;
          transform: translate3d(0, -50%, 0);
          top: 50%;
          z-index: 500;
          display: flex;
          align-items: center;
          justify-content: center;
          .fa {
            color: #fff;
          }
        }
      }
      li{
        position: absolute;
        background: #454343;
        height: 50px;
        width: 50px;
        right: 0;
        transform: translate3d(0, -50%, 0);
        top: 50%;
        z-index: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        .fa{
          color:#fff;
        }
      }
      .projects{
        ul {
          height: 100vh;
          list-style-type: none;
          overflow: hidden;
          position: relative;
          top: 0;
          left:45px;
          width: 1000000px;
          li {
            height: 100vh;
            display: inline-block;
            position: relative;
            width: 33vw;
            float:left;
            .block{
              height:50vh;
              &.image{
                background:url(../images/one.jpg);
                background-size:cover;
                object-fit:fill;
              }
              &.content {
                text-align:center;
                background:#fff;
                .single-project-block {
                  position: relative;
                  transform: translate3d(0, -50%, 0);
                  top: 50%;
                  -moz-transform: translate3d(0, -50%, 0);
                  -ms-transform: translate3d(0, -50%, 0);
                  -o-transform: translate3d(0, -50%, 0);
                  -webkit-transform: translate3d(0, -50%, 0);
                  transform: translate3d(0, -50%, 0);
                  h3,small {
                    color:#000;
                    display:block;
                  }
                  small{
                    padding:0 20px 30px;
                    margin-bottom:16px;
                  }
                  p {
                    padding:20px 30px;
                  }
                  .portfolio-button {
                    height: 75px;
                    width: 75px;
                    display: block;
                    transform: translate3d(-50%, 0%, 0);
                    left: 50%;
                    position: Relative;
                    border: 2px solid black;
                    border-radius: 50%;
                    span{
                      transform: translate3d(-50%, -50%, 0);
                      top:50%;
                      left:50%;
                      color:#000;
                      position:absolute;
                      display:block;
                    }
                    &:hover{
                      span {
                        color: #fff;
                        z-index: 500;
                      }
                      &::after {
                        -moz-transform: translate3d(-50%, -50%, 0) scale(1);
                        -ms-transform: translate3d(-50%, -50%, 0) scale(1);
                        -o-transform: translate3d(-50%, -50%, 0) scale(1);
                        -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
                        transform: translate3d(-50%, -50%, 0) scale(1);
                        background: #000;
                      }
                    }
                    &:after {
                      -moz-border-radius: 50%;
                      border-radius: 50%;
                      -moz-transition: all 250ms ease-out 0s;
                      -webkit-transition: all 250ms ease-out 0s;
                      -o-transition: all 250ms ease-out 0s;
                      -ms-transition: all 250ms ease-out 0s;
                      transition: all 250ms ease-out 0s;
                      -moz-transform: translate3d(-50%, -50%, 0) scale(0.909);
                      -ms-transform: translate3d(-50%, -50%, 0) scale(0.909);
                      -o-transform: translate3d(-50%, -50%, 0) scale(0.909);
                      -webkit-transform: translate3d(-50%, -50%, 0) scale(0.909);
                      transform: translate3d(-50%, -50%, 0) scale(0.909);
                      content: ' ';
                      display: block;
                      height: 110%;
                      left: 50%;
                      position: absolute;
                      top: 50%;
                      width: 110%;
                      z-index: 0;
                      color:#fff;
                    }
                  }
                }
              }
            }
            &#even {
              .image{
                position:relative;
                .triangle {
                  position: absolute;
                  bottom: -3px;
                  left: 50%;
                  height: 0;
                  border-left: 35px solid transparent;
                  border-right: 35px solid transparent;
                  border-bottom: 50px solid #fff;
                  -moz-transform: translate3d(-50%, 0%, 0) scale(0.909);
                  -ms-transform: translate3d(-50%, 0%, 0) scale(0.909);
                  -o-transform: translate3d(-50%, 0%, 0) scale(0.909);
                  -webkit-transform: translate3d(-50%, 0%, 0) scale(0.909);
                  transform: translate3d(-50%, 0%, 0) scale(0.909);
                }
              }
            }
            &#odd {
              .image{
                position:relative;
                .triangle{
                  position: absolute;
                  top: -3px;
                  left: 50%;
                  height: 0;
                  border-left: 35px solid transparent;
                  border-right: 35px solid transparent;
                  border-top: 50px solid #fff;
                  -moz-transform: translate3d(-50%, 0%, 0) scale(0.909);
                  -ms-transform: translate3d(-50%, 0%, 0) scale(0.909);
                  -o-transform: translate3d(-50%, 0%, 0) scale(0.909);
                  -webkit-transform: translate3d(-50%, -0%, 0) scale(0.909);
                  transform: translate3d(-50%, 0%, 0) scale(0.909);
                }
              }
            }
          }
        }
      }
    }
    &.contact {
      background: url("../images/one.jpg");
      background-size:cover;
      object-fit:fill;
      z-index:-1;
      #contact-section{
        h3{
          font-size:20px;
        }
        .email{
          color:#fff;
          font-size:30px;
          letter-spacing:10px;
          font-weight:800;
          text-transform:uppercase;
        }
        ul {
          margin-top:90px;
          a{
            display:inline-block;
            li{
              position: relative;
              height: 70px;
              border: 3px solid #fff;
              width: 70px;
              border-radius: 50%;
              margin: 0px 6px;
              &:hover {
                border:3px solid #000;
                i{
                  color:#fff;
                  z-index: 5;
                }
              }
              i{
                color:#fff;
                font-size: 30px;
                position:absolute;
                -moz-transform: translate3d(-50%, -50%, 0) scale(0.909);
                -ms-transform: translate3d(-50%, -50%, 0) scale(0.909);
                -o-transform: translate3d(-50%, -50%, 0) scale(0.909);
                -webkit-transform: translate3d(-50%, -50%, 0) scale(0.909);
                transform: translate3d(-50%, -50%, 0) scale(0.909);
                top:50%;
                left:50%;
              }
              &:hover{
                span {
                  color: #000;
                  z-index: 500;
                }
                &::after {
                  -moz-transform: translate3d(-50%, -50%, 0) scale(1);
                  -ms-transform: translate3d(-50%, -50%, 0) scale(1);
                  -o-transform: translate3d(-50%, -50%, 0) scale(1);
                  -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
                  transform: translate3d(-50%, -50%, 0) scale(1);
                  background: #000;
                }
              }
              &:after {
                -moz-border-radius: 50%;
                border-radius: 50%;
                -moz-transition: all 250ms ease-out 0s;
                -webkit-transition: all 250ms ease-out 0s;
                -o-transition: all 250ms ease-out 0s;
                -ms-transition: all 250ms ease-out 0s;
                transition: all 250ms ease-out 0s;
                -moz-transform: translate3d(-50%, -50%, 0) scale(0.909);
                -ms-transform: translate3d(-50%, -50%, 0) scale(0.909);
                -o-transform: translate3d(-50%, -50%, 0) scale(0.909);
                -webkit-transform: translate3d(-50%, -50%, 0) scale(0.909);
                transform: translate3d(-50%, -50%, 0) scale(0.909);
                content: ' ';
                display: block;
                height: 110%;
                left: 50%;
                position: absolute;
                top: 50%;
                width: 110%;
                z-index: 0;
                color:#fff;
              }
            }
          }
        }
        .copyright {

          position: absolute;
          bottom: 20px;
          color: #fff;
          opacity: 0.9;
          display: flex;
          .fa {
            margin-right: 7px
          }
        }
      }
    }
  }
}

