section {
  .full.single-pages {
    background: url("../images/one.jpg");
    background-size:cover;
    object-fit:fill;
    height:100vh;
    width:100vw;
    .info.block-pages {
      background:#fff;
      position:absolute;
      right:0;
      height:100vh;
      width:45%;
      padding: 0px 0px 0px 87px;
      clip-path: polygon(
           0 0, /* left top */
           100% 0, /* right top */
           100% 100%, /* right bottom */
           16% 100% /* left bottom */
      );
      .content.block-pages{
        height: 100%;
        width: 90%;
        margin: 0 auto;
        justify-content: center;
        display: flex;
        flex-direction: column;
        span, h3, p, small {
          color:#000;
          text-align:left;

        }
      }
    }
  }
}