
  aside.main-menu {
    position: absolute;
    height: 100vh;
    z-index: 5;
    width: 45px;
    nav {
      height: 100%;
      ul {
        height: 100%;
        transition: all 300ms ease-in 500ms;
        background-color: $background-menu;
        li {
          height: 20%;
          display: flex;
          justify-content: center;
          border-right: 1px solid transparent;
          position: relative;
          a {
            align-self: center;
            -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            transform: rotate(270deg);
            line-height: 0px;
            span {
              display: block;
              color: $menu-item-color;
              letter-spacing: 5px;
              text-transform: uppercase;
              font-size: 10px;
              color: #fff;
              opacity: 0.3;
              font-family: 'graduateregular';
              &:hover {
                color: #fff;
                opacity: 1;
              }
            }
            .fa.fa-times {
              color:#fff;
            }
          }
          &.active {
            &:before {
              border-right: 2px solid #fff;
              height: 50%;
              position: absolute;
              content: "";
              right: 0;
              top: 0;

            }
            &:after {
              border-right: 2px solid #fff;
              height: 50%;
              position: absolute;
              content: "";
              right: 0;
              bottom: 0;
            }
            a {
              span {
                color: #fff;
                opacity: 1;
              }
            }
          }
        }
        &.menu-pages {
          li{
            height:100vh;
            justify-content: center;
          }
        }
      }
    }
  }
