section{
  &.section-pages {
    position:absolute;
    right:0;
    min-height:100vh;
    width:50%;
    background:#fff;
    transition:all.8s;
    overflow-y: scroll;
    .pages-aside{
      padding:60px 100px 60px 80px;

    }
  }

}