@import "admin/create";
@import "admin/show";
@import "admin/header";
@import "admin/navigation";

.container:before {

  display:none !important;

}

.container:after {

  display:none !important;

}

body {font-family: 'brandon_grotesquemedium';}
h1,h2,h3,label {font-family: 'brandon_grotesquemedium';}
body,ul {padding:0px; margin:0px;}
.container {width:1170px; margin:0 auto;}
.container.nav {  display:flex;  justify-content:space-between;  align-items: center; width:100%;}
li{list-style-type:none;}
a {color:#000; text-decoration:none;}
label,input,small {display:block;}
h2 {font-size:34px;}
label{font-size:20px;}
p{font-family: 'graduateregular';}



