
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";


// Footer
@import "navigation.scss";


// Index

@import "index.scss";

// Project Pages

@import "pages.scss";

// Single Info Page

@import "_info-pages.scss";


body {margin:0;}
ul {list-style-type:none; padding:0; margin:0;}
a {text-decoration:none; cursor:pointer;}
h1 ,h2, h3 {font-family: 'brandon_grotesquemedium'; letter-spacing:11px; margin:0;}
h1, h2, h3, small { color: #fff; text-transform:uppercase;}
h1{font-size:60px; line-height:60px;}
h2{font-size:60px; line-height:60px; margin-bottom:20px;}
h3{font-size:30px; text-transform:uppercase; line-height: 30px;}
small {font-family: 'graduateregular'; letter-spacing:4.6px; opacity: 0.6;  font-style: italic; font-size:11px;}
a:hover{text-decoration:none;}

.section { text-align:center;}